:root {
  --color-black: rgb(0, 0, 0);
  --color-mint: rgb(207, 255, 226);
  --color-teal: rgb(162, 213, 198);
  --color-light: rgb(246, 246, 246);
}
html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding-top: 100px;}
body{
  background-image: url('../public/bg.jpg');
  background-size: cover; 
  background-repeat: no-repeat;  
  background-position: center; 
  background-attachment: fixed;    
}
