<div class="registration-popup-overlay" *ngIf="isOverlayVisible" (click)="closePopup()"></div>
<div class="registration-container" (click)="$event.stopPropagation()">
  <div class="registration-form">
    <div class="cover-photo-section">
      <div class="cover-photo-placeholder">
        <img *ngIf="!coverImageFile" src="couvertur.jpg" alt="Cover Photo">
        <!-- <img *ngIf="coverImageFile" [src]="coverImageFile | fileUrl" alt="Cover Photo"> -->
        <label class="upload-button-cover">
          <input type="file" (change)="onCoverImageSelected($event)" style="display: none;">
          <mat-icon>cloud_upload</mat-icon>
        </label>
      </div>
      <div class="profile-photo-upload">
        <div class="profile-photo-icon">
          <img *ngIf="!coverImageFile" src="avatar.jpeg" alt="Profil Photo">
          <!-- <img *ngIf="coverImageFile" [src]="coverImageFile | fileUrl" alt="Cover Photo"> -->
        </div>
        <label class="upload-button-profile">
          <input type="file" (change)="onProfileImageSelected($event)" style="display: none;">
          <mat-icon>cloud_upload</mat-icon>
        </label>
      </div>
    </div>

    <h2 class="form-title">Rejoignez l’aventure</h2>

    <div class="input-grid">
      <div class="input-group">
        <mat-icon class="icon">person</mat-icon>
        <input type="text" placeholder="Username" [(ngModel)]="username" name="username">
      </div>
      <!-- <div class="input-group">
                <mat-icon class="icon">person</mat-icon>
                <input type="text" placeholder="Possname" [(ngModel)]="possname" name="possname">
            </div> -->
      <div class="input-group">
        <mat-icon class="icon">email</mat-icon>
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
      </div>
      <div class="input-group">
        <mat-icon class="icon" (click)="togglePasswordVisibility()">{{ showPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" [(ngModel)]="password"
          name="password">
      </div>
      <!-- <div class="input-group">
                <mat-icon class="icon">email</mat-icon>
                <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
            </div> -->
      <div class="input-group">
        <mat-icon class="icon" (click)="togglePasswordVisibility()">{{ showPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Confirm Password" [(ngModel)]="confirmPassword"
          name="confirmPassword">
      </div>
    </div>

    <button class="register-button" (click)="register()">Register</button>
    <p class="login-link">
      Already have an account? <a (click)="openLoginFromRegister()">Log in</a>
    </p>
  </div>
</div>