<div class="glass-card">
  <h2>Register</h2>

  <div class="form-group">
    <input type="text" [(ngModel)]="username" placeholder="Username" />
  </div>

  <div class="form-group">
    <input type="email" [(ngModel)]="email" placeholder="Email" />
  </div>

  <div class="form-group">
    <input type="password" [(ngModel)]="password" placeholder="Password" />
  </div>

  <div class="form-group">
    <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm Password" />
  </div>

  <button class="login-btn" (click)="register()">REGISTER</button>
</div>
